/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  font-variation-settings: var(--normal);
  font-family: var(--main-font-family);
  color: var(--main-color);
  background-color: var(--main-background-color);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: clamp(20rem, 0rem + 100vw, 43.75rem);
  background-attachment: fixed;
  background-size: cover;
  background: repeating-linear-gradient(
      90deg,
      var(--accent-background-color),
      var(--accent-background-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--accent-background-color-start),
      var(--accent-background-color-end) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      var(--accent-background-color-start) 0.01%,
      var(--accent-background-color-end)
    );
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background-color);
  font-family: var(--accent-font-family);
  text-transform: uppercase;
  margin: 100px 0 100px;
  padding: clamp(7.5rem, 7.192rem + 1.31vw, 8.375rem) 0 20px;
  border: 2px solid var(--border-color);
}

@media (width<=375px) {
  .header {
    padding-bottom: 13px;
    margin-bottom: 100px;
  }
}

.header__logo {
  font-size: clamp(3.063rem, 2.777rem + 1.43vw, 4.063rem);
}

.header__title {
  margin: 20px 0 25px;
  font-size: clamp(0.875rem, 0.714rem + 0.8vw, 1.438rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  gap: 12px;
  text-align: start;
  margin: 0 10%;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  cursor: pointer;
  background: none;
  border: none;
  text-transform: uppercase;
  transition: 0.3s;
} 

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.theme-menu__button:disabled {
  transition: 0.3s;
  transition-timing-function: ease;
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  transition-timing-function: ease;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  animation: arrow 0.5s both infinite alternate ease-in-out;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: scale(0);
  transition: 0.3s ease;
  transform-origin: 0%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 52px;
  margin-bottom: 100px;
}

@media (width<=375px) {
  .main {
    gap: 53px;
  }
}

.card {
  border: 2px solid var(--border-color);
  background-color: var(--main-background-color);
}

.card__title {
  font-size: 18px;
  font-weight: var(--bold);
  padding: 5px 4px 6px 10px;
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  display: block;
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(300%);
}

.saturate-low {
  filter: saturate(500%);
}

.sepia {
  filter: sepia(80%);
}

.sepia-high {
  filter: sepia(100%);
}

.invert {
  filter: invert(0.8);
}

.blur {
  filter: blur(1rem);
}

.special-filters {
  filter: hue-rotate(90deg) saturate(200%) invert(25%) blur(0.2rem);
}

.card__image-box {
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
  position: relative;
  block-size: clamp(23.438rem, 16.373rem + 30.14vw, 43.5rem);
}

.image-label {
  font-family: var(--accent-font-family);
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-transform: uppercase;
  top: 25px;
  right: 25px;
  z-index: 1;
  text-shadow: -1px 0 var(--main-background-color), 
  0 1px var(--main-background-color), 
  1px 0 var(--main-background-color), 
  0 -1px var(--main-background-color);
}

@supports (text-stroke: 1px var(--label-stroke-color)) or
  (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .image-label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
    text-shadow: none;
  }
}

.card__text-box {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px clamp(0.938rem, 0.827rem + 0.47vw, 1.25rem);
}

.card__text {
  font-size: 18px;
  font-weight: var(--normal);
}

.card__icon-button {
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  background: none;
  border: none;
  outline: none;
}

.card__like-box {
  display: flex;
  justify-content: end;
  z-index: 1;
}

.card__icon-button:focus .like-icon {
  outline: none;
}

.card__icon-button:focus-visible .like-icon {
  border: 2px solid var(--main-color);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.button {
  position: relative;
  font-family: var(--accent-font-family);
  font-size: 14px;
  background: var(--main-background-color);
  border: 2px solid var(--border-color);
  inline-size: 130px;
  block-size: 38px;
  overflow: hidden;
  cursor: pointer;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
  background-color: var(--mix-color);
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(0);
  transition: 0.5s;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--box-shadow-color);
  transition: 0.5s;
}

.button__text {
  color: var(--mix-color);
  mix-blend-mode: difference;
}

.memory-save-button-box {
  display: flex;
  justify-content: center;
  inline-size: 100%;
}

.memory-save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: clamp(19.125rem, 18.487rem + 2.72vw, 20.938rem);
  block-size: 55px;
  background-color: var(--main-background-color);
  gap: 7px;
  cursor: pointer;
}

@media (width <= 375px) {
  .memory-save-button {
    flex-direction: column;
    block-size: 84px;
  }
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
  color: var(--main-color);
}

@media (width<=375px) {
  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--main-background-color);
  padding: 30px;
  color: var(--main-color);
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

@media (width<=375px) {
  .dialog[open] {
    padding: 30px 40px;
  }
}

.dialog__title {
  line-height: 21px;
  font-weight: 400;
  font-size: 14px;
}

.dialog__button {
  inline-size: 293px;
  block-size: 38px;
}

.dialog__text-box {
  display: flex;
  gap: 20px;
}

@media (width<=375px) {
  .dialog__button {
    inline-size: 257px;
  }
}

.dialog-floppy {
  inline-size: 39px;
  block-size: 39px;
}
